.profile-card {
    display: flex;
    align-items: center;
    /* Alinea verticalmente el contenido */
    justify-content: space-between;
    /* Coloca la imagen y la información en lados opuestos */
    gap: 10px;
    /* Espaciado entre los elementos */
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #6c757d;
    max-width: 300px;
    margin: auto;
}

.profile-card-image-container {
    position: relative;
    /* Para que el menú desplegable se posicione relativo a este contenedor */
}

.profile-card-image {
    width: 50px;
    /* Aumenta el tamaño de la imagen si es necesario */
    height: 50px;
    border-radius: 50%;
    background-color: #e9ecef;
    flex-shrink: 0;
    /* Evita que la imagen se reduzca */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre la imagen */
}

.dropdown-card-menu {
    position: absolute;
    /* Posiciona el menú de forma relativa al contenedor padre (.profile-card-image-container) */
    top: 60px;
    /* Desplaza el menú hacia abajo desde la imagen */
    right: 0;
    /* Alinea el menú a la derecha */
    background-color: #fff;
    /* Fondo blanco */
    border: 1px solid #ddd;
    /* Borde sutil */
    border-radius: 4px;
    /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra para darle un efecto flotante */
    min-width: 120px;
    /* Ancho mínimo del menú */
    z-index: 1000;
    /* Asegura que el menú esté por encima de otros elementos */
}

.dropdown-card-menu ul {
    list-style-type: none;
    /* Elimina los puntos de las listas */
    padding: 0;
    margin: 0;
}

.dropdown-card-menu li {
    padding: 8px;
    /* Espaciado interno */
    cursor: pointer;
    /* Hace que el puntero cambie al pasar sobre cada opción */
    color: #343a40;
    /* Color del texto */
}

.dropdown-card-menu li:hover {
    background-color: #0033ff;
    /* Fondo claro al pasar el mouse por encima */
}



.profile-card-info {
    display: flex;
    flex-direction: column;
    /* Mantiene los textos en columnas */
    text-align: left;
    /* Alinea el texto a la izquierda */
    flex-grow: 1;
    /* Permite que la información ocupe más espacio */
}

.name-card {
    font-weight: bold;
    font-size: 14px;
    color: #343a40;
}

.role-card {
    font-size: 12px;
    color: #6c757d;
}